body{
    overflow-x: hidden;
}
.slide {
    padding: 0 24px;
}
.align-center{
    margin: 0 auto;
}
.no-padding{
    padding: 0;
}
.center-text{
    text-align: center;
}
.white-text{
    color: #ffffff;
}
.blue-text{
    color: #000033;
}
.light-blue-text{
    color:#4499D4;
}
.paragraph-size, .unclick-text{
    font-size: 17px;
}
.title-size{
    font-size: 31px;
    font-weight: 650;
}
.cover-bg{
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.navbar{
    padding: 1rem 5rem 0.5rem 5rem;
    background-color: #000033;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    width: 173px;
    height: auto;
}
.hide-line{
    display: inline-block;
    margin: 0;
    width: 20px;
    border-top: 1px solid #ffffff;
    transform:rotate(90deg);
}
.show-button{
    display: none;
}
ul.navbar-nav{
    margin: 0 0 0 auto;
    width: auto;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 15px;
    padding: .25rem;
    margin: .25rem;
    border-bottom:2px solid #000033;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #ffffff;
    font-weight: bold;
    border-bottom:2px solid #4499D4;
}
.navbar-light .navbar-toggler{
    border-color: #000033;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../images/menu_mobile.png)
}
.navbar-toggler-icon{
    width:1.2em;
    height: 1.2em;
}
.navbar-collapse ul{
    padding: .4em 2.8em .4em .80em
}
.btn-primary{
    border-color: #4499d4;
    background-color: #4499d4;
}
.btn-primary:hover{
    background-color: #007bff;
    border-color: #007bff;
}
#first-section article{
    display: block;
    margin-top: 130px;
}
#first-section {
    background-image: url(../images/Desktop_bg_01.jpg);
    text-align: right;
    height: 80vh;
    margin-top: 75px;
}
#first-section article p{
    padding-top: 15px;
}
#first-section button{
    margin: 35px 12% auto auto;
    padding: .375rem 1.75rem;
}
#second-section, #third-section, #fifth-section, #sixth-section, #eigth-section{
    padding: 60px 15px;
}
#fourth-section{
    padding: 50px 15px 20px 15px;
}
#second-section, #fourth-section {
    background-color: #f2edf7;
}
#fifth-section{
    background-color: #e4e4e4;
}
h1 span{
    font-weight: 400;
}
#third-section h1 span{
    font-weight: 300;
}
.img-what{
    width: 20%;
    vertical-align: top;
}
.img-what-1{
    background-image: url(../images/section1_01.png);
}
.img-what-2{
    background-image: url(../images/section1_02.png);
}
.img-what-3{
    background-image: url(../images/section1_03.png);
}
.article-what{
    width: 75%;
    display: inline-block;
    padding: 20px 0px 20px 15px; 
}
.article-what h3, .article-what p, .no-margin p{
   margin-bottom: 0;
   
}
.article-what p{
    font-size: 14px;
}
.article-what h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#second-section .blue-bg{
    margin: 15px auto;
    display: flex;

}
#third-section {
    background-image: url(../images/Desktop_bg_02.jpg);
    text-align: right;
}
#third-section .col-lg-2{
    max-width: 13.666667%;
}
.white-circle{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;
}
.white-circle.cyan-circle{
    background-color: #4499D4;
}
.white-circle.cyan-circle svg{
    fill: #ffffff;
}
.white-circle svg{
    width: 45px;
    height: auto;
}
.access-pad{
    margin-top: 45px;
}
#sixth-section form{
    margin: 25px auto 45px auto;
}
#sixth-section .form-control, select{
    background-color: #E4E4E4;
    border-color: #E4E4E4!important;
    font-size: 14px;
}
select{
    border-color: #E4E4E4;
}
.btn-blue, .btn-blue:hover, .btn-blue:focus{
    background-color: #000033;
    border-color: #000033;
    float: right;
}
#seventh-section{
    background-color: #000033;
    padding: 30px 0px 25px 0px;
}
#seventh-section article{
    display: flex;
}
#seventh-section article img{
    margin-right: 15px;
}
.col-contact{
    display: inline-block;
    margin: 0 20px 20px 0;
}
.col-contact.no-margin{
    margin:0 20px 0px 0;
}
.support{
    margin: 50px 0px 35px 0px;
    font-weight: 400;
    font-size: 25px;
}
.support-txt{
    text-align: left;
    font-size: 13px;
    color: #484848;
}
.support-txt a{
    color: #000033;
    font-weight: 700;
    text-decoration: underline;
}
footer{
    background-color: #000033;
    font-size: 12px;
}
.blue-bg{
    background-color: rgba(0,0,51,1);
    background-image: none!important;
    padding-top: 0;
    line-height: 18px;
    text-align: left;
}
.benefits{
    background-color: #000033;
    margin: 0px 0px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);
    height: 470px;
}
.benefits.promo{
    height: auto;
}
.benefits-2{
    background-color:#4499D4;
}
.benefits-2.prices{
    background-color:#bebebe;
}
.slick-current .benefits-2.prices{
    background-color: #000033;
}
.slick-current .benefits-2.prices p.blue-text, .slick-current .benefits-2.prices .prices-title .blue-text{
    color: #ffffff;
}
.slick-current .benefits-2.prices p.blue-text.prices-footer{
    color: #000033;
}
.benefits p{
    font-size: 11px;
    padding: 0px 15px 18px 15px;
}
.benefits p.benefits-title{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
    padding: 15px 15px 5px 15px;
}
.benefits p.benefits-title span{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
}
.your-class{
    width: 65%;
    margin: auto;
}
.benefits p.prices-title{
    font-size: 35px;
    line-height: 30px;
    padding-top: 20px;
}
.prices-footer{
    background-color: #ffffff;
}
.benefits p.prices-footer{
    padding:5px 0px;
    margin-top: 20px
}
.benefits.prices{
    padding-bottom: 15px;
}
.slick-center{
    transition: transform .3s ease-out;
    transform: scale(1.15);
}
.slick-track{
    padding: 45px 0px 30px 0px;
}
.slick-list{
    padding: 45px 180px 30px 180px!important;
}
.slick-prev, .slick-next{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 1;
}
.slick-next{
    right: -120px;
    background-image: url(../images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
.slick-prev{
    left: -120px;
    background-image: url(../images/arrow_left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
.modal-backdrop, .modal-backdrop.show{
    display: none;
    opacity: 0;
}
.modal{
    z-index: 1029;
    text-align: left;
    padding-right: 0px!important;
    top: 130px;
}
.popover-content{
    font-size: 14px;
    color: #000033;
}
.popover-header {
    font-size: 18px;
    color: #000033;
    background: #ffffff;
    border-bottom: none;
}
.popover{
    padding: 10px;
}
.round{
    margin-right: 10px;
}
.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    margin-bottom: 10px;
}
.flex-title{
    display: flex;
    align-items: center;
}
.popover .arrow {
    display: none;
}
.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 5px 0;
	
	list-style-type: none;
}
.slick-dots li {
	margin: 0 0.25rem;
}
	
.slick-dots button {
	display: block;
	width: 10px;
	height: 10px;
	padding: 0;
	
	border: none;
	border-radius: 100%;
	background-color: #BEBEBE;
	
	text-indent: -9999px;
}
	
.slick-dots li.slick-active button {
	background-color: #000033;
}
@media (max-width: 991px) {
    .navbar{
        padding: 0;        
    }
    .navbar-brand{
        padding: 0.8rem 0rem 0.8rem 1rem;
    }
    .navbar-brand img{
        width: 140px;
    }
    ul.navbar-nav{
        margin: 0 0 0 auto;
        width: 170px;
        justify-content: auto;
        background-color: rgba(0,0,51,1);
        align-items: unset;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #ffffff;
        font-size: 16px;
    }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
        color: #ffffff;
        font-weight: bold;
    }
    .hide-line, .hide-button{
        display: none;
    }
    .show-button{
         display: inline-block;
    }
    ul.navbar-nav li{
        text-align: right
    }
    #first-section{
        margin-top: 65px;
    }
    .first-section article{
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-top:100px;
    }
    .first-section button{
        margin: 25px 0px auto auto;
    }
    #second-section, #third-section, #fifth-section, #sixth-section,#eigth-section{
        padding: 50px 15px;
    }
    #fourth-section{
        padding: 30px 15px 20px 15px;
    }
    .rounded-squares{
        border-radius: 25%;
        width:130px;
        height: 130px;
        padding-top: 25%;
    }
    .rounded-squares-2{
        border-radius: 25%;
        width:130px;
        height: 130px;
        padding-top: 17%;
    }
    .click-text{
        padding: 12px 15px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
    }
    .blue-bg{
        line-height: 16px;
        padding-top: 0;
    }
    .benefits{
        height: 500px;
    }
    .benefits.promo{
        height: auto;
    }
    .benefits p{
        font-size: 11px;
    }
    .your-class{
        width: 100%
    }
    .slick-prev, .slick-next{
        display: none!important;
    }
    .slick-list{
        padding: 0 70px!important;
    }
    .unclick-text{
        font-size: 15px;
    }
    #seventh-section .center-text{
        text-align: left;
    }
    .title-size{
        font-size: 26px;
    }
    .benefits p.prices-title{
        font-size: 30px;
    }
}
@media (max-width: 576px){
    #third-section .col-lg-2{
        max-width: 33.333333%;
    }    
    .benefits{
        height: 500px;
    }
    .benefits.promo{
        height: auto;
    }
}
@media (max-width: 500px) {
    .slick-list{
        padding: 0 40px!important;
    }
}
@media (max-width: 500px) {
    .slick-list{
        padding: 0 40px!important;
    }
}